{
  "project_id": "logistics-9593b",
  "client_email": "firebase-adminsdk-xxxxx@logistics-9593b.iam.gserviceaccount.com",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"
}
